.page-operate-bar-up {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 150px;
  border-radius: 50%;
  background-color: var(--main-hover-color);
  border: var(--main-border);
  overflow: hidden;
  transform: scale(0);
  transform-origin: 50% 50%;
  transition: transform 0.3s ease-in-out;
}

.page-operate-bar-theme {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 50px;
  border-radius: 50%;
  background-color: var(--main-hover-color);
  border: var(--main-border);
  overflow: hidden;
}

.page-operate-bar-to-home {
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: fixed;
  right: 30px;
  bottom: 100px;
  border-radius: 50%;
  background-color: var(--main-hover-color);
  border: var(--main-border);
  overflow: hidden;
}