* {
  box-sizing: border-box;
  font-family: system-ui,-apple-system,"Segoe UI",Roboto,Ubuntu,Cantarell,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji",BlinkMacSystemFont,"Helvetica Neue",Arial,"PingFang SC","PingFang TC","PingFang HK","Microsoft Yahei","Microsoft JhengHei";
}

:root {
  --main-background-color: #f2f8fa;
  --content-background-color: #ffffff;
  --main-font-color: #161616;
  --main-hover-font-color: #ebebeb;
  --main-icon-color: #161616;
  --main-hover-icon-color: #ebebeb;
  --main-hover-color: #efa9b2;
  --nav-line-color: 1px solid #cccccc;
  --main-blur-glass-color: #ffffffd8;
  --main-border: 1px solid #161616;
  --main-blur-glass-color-outline: 2px solid #efa9b2;
  --main-blur-glass-color-outline-1px: 1px solid #efa9b2;
  --main-caret-color: #c0779e;

  color: var(--main-font-color);
  background-color: var(--main-background-color);
}

html {
  overflow: auto;
  line-height: 1.15;

  body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --main-background-color: #1a1a1a;
    --content-background-color: rgb(12, 12, 12);
    --main-font-color: #ebebeb;
    --main-hover-font-color: #161616;
    --main-icon-color: #ebebeb;
    --main-hover-icon-color: #161616;
    --main-hover-color: #9c7d86;
    --nav-line-color: 1px solid #494949;
    --main-border: 1px solid #ebebeb;
    --main-blur-glass-color: rgba(12, 12, 12, 0.431);
    --main-blur-glass-color-outline: 2px solid #9c7d86;
    --main-blur-glass-color-outline-1px: 1px solid #9c7d86;
    --main-caret-color: #c0779e;
  }
}